html,
body {
	height: 100%;
	margin: 0;
	padding: 0%;
	background-color: dimgrey;
	color: gold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer {
	text-align: left;
	height: 50px;
	margin-top: -50px;
	background: rgb(74, 164, 194);
	color: white;
	line-height: 50px;
	padding-left: 20px;
	
}
/*navbar*/
.navbar {
	background-color: rgb(56, 54, 51);
	position: sticky;
	top: 0px;
	border-bottom: 6px solid;
	align-items: center;
	padding-left: 25px;
	padding-right: 0px;
	min-width: 320px;
}
.navbarInner{
	height: fit-content;
}

.navbarTitle{
	display: inline-flex;
}
.navbarInteractables{
	display: inline-flex;
	float: right;

}
/*navbar list*/
ul{
	list-style-type: none;
	margin: 0;
	padding-left: 0%;
	overflow: hidden;
	float: left;
	display: block;
}
li {
	border-right: 2px solid gold;
	padding: 21.5px 24px;
}
li:last-child {
	border-right: none;
}
li a {
	color: white;
	text-decoration: none;
}
li s {
	color: gold;
	text-decoration: none;
}
#interactable:hover{
	background-color: #111;
}

.content {
	padding: 20px;
	min-height: 100%;
	margin: 0 auto -50px;
	text-align: center;
	position: relative;
	margin-top: 50px;
}

@media screen and (min-width: 776px) {
	.panes {
		display: inline-flex;
	}
	.navbar{
		line-height: 100%;
}

	li{
		padding: 21.5px 24px;
	}
}

@media screen and (max-width: 775px) {
	.panes {
		display: inline-block;
	}
	.navbar{
		line-height: 50%;
		font-size: 14px;

	}
	li{
		padding: 19px 12px;
	}
}
.colLeft {
	padding-right: 50px;
	width: 280px;
}

.colRight {
	width: 280px;
}

.panes {
	float: 0;

	line-height: 20px;

	margin-left: 50px;
	margin-right: 50px;
}

.banner {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2.5%;
	margin-right: 2.5%;

}
.bannerPic {
	background-image: url("https://www.blog.print-print.co.uk/wp-content/uploads/2017/07/promote-coffee-shop.jpg");
	background-repeat: no-repeat;
	background-position: 90% 45%;
	background-size: 120%;
	max-width: 1000px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-left: 20px;
	height: 250px;


}
