html,
body {
	height: 100%;
	margin: 0;
	padding: 0%;
	background-color: rgb(59, 59, 59);
	color: gold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer {
	text-align: left;
	height: 50px;
	margin-top: -50px;
	background-color: rgb(48, 45, 42);
	color: white;
	line-height: 50px;
	padding-left: 20px;
}
/*navbar*/
.navbar {
	background-color: rgb(48, 45, 42);
	position: sticky;
	top: 0px;
	z-index: 1;
	border-bottom: 6px solid;
	align-items: center;
	padding-right: 0px;
	min-width: 320px;
}
.navbarInner {
	height: fit-content;
}

.navbarTitle {
	display: inline-flex;
}
.navbarInteractables {
	display: inline-flex;
	float: right;
}
.navbarItems {
	border-right: 2px solid gold;
}
.navbarItems:last-child {
	border-right: none;
}
/*navbar list*/
ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0%;
	overflow: hidden;
}
li a {
	color: white;
	text-decoration: none;
}
li s {
	color: gold;
	text-decoration: none;
}
#interactable:hover {
	background-color: #111;
}
#openingHours {
	background-color: #111;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bannerPic {
	background-image: url("https://www.blog.print-print.co.uk/wp-content/uploads/2017/07/promote-coffee-shop.jpg");
	background-repeat: no-repeat;
	background-size: 120%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	min-width: 300px;
}

.content {

	min-height: 100%;
	margin: 0 auto -50px;
	text-align: center;
	position: relative;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 681px) {
	/*desktop version*/
	.content {
		display: block;
		max-width: 800px; 
		min-width: 680px; 
	}

	.textBlock {
		float: left;
		margin-left: 25px;
		margin-right: 25px;
	}
	#col {
		text-align: left;
		min-width: 200px;
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar {
		line-height: 60%;
		font-size: 15px;
		padding-left: 25px;
	}
	.navbarItems {
		padding: 20px 20px;
	}
	.banner {
		margin-top: 10px;
		margin-bottom: 8px;
		margin-left: 10px;
		margin-right: 8px;
	}
	.bannerPic {
		background-position: 90% 45%;
		height: 250px;
	}
	.bannerContent {
		padding-top: 2px;
		padding-left: 16px;
		padding-bottom: 12px;
		padding-right: 16px;
	}
	#openingHours {
		position: relative;
		top: 0px;
		border: gold 5px solid;
		float: right;
		text-align: center;
		width: 280px;
		margin-right: 20px;
		line-height: 160%;
	}
}

@media screen and (max-width: 680px) {
	/*mobile version*/
	.content {
		display: inline-flexbox;
	}

	.textBlock {
		padding: 20px;
		text-align: center;
		margin-left: 15px;
		margin-right: 15px;
	}
	#col {
		margin-top: 25px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		width: 260px;
		font-size: 14px;
	}
	.navbar {
		line-height: 40%;
		font-size: 14px;
		padding-left: 10px;
	}
	.navbarItems {
		padding: 19px 9px;
	}
	.banner {
		border: gold 5px solid;
		margin-top: -5px;
	}
	.bannerPic {
		background-position: 20% 50%;
		height: 150px;
	}
	.bannerContent {
		padding-top: 16px;
		padding-left: 16px;
		padding-bottom: 21px;
		padding-right: 16px;
	}
	#openingHours {
		position: static;
		top: 42px;
		border-top: gold 5px solid;
		border-bottom: gold 5px solid;
		border-left: gold 5px solid;
		border-right: gold 5px solid;
		text-align: center;
		width: auto;
		min-width: 280px;
		line-height: 150%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -5px;
	}
	#openingHours h1 {
		line-height: 20%;
	}
}
