html,
body {
	height: 100%;
	margin: 0;
	background-color: dimgrey;
	color: gold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer {
	text-align: left;
	height: 50px;
	margin-top: -50px;
	background: rgb(74, 164, 194);
	color: white;
	line-height: 50px;
	padding: 0 20px;
}
.navbar {
	background-color: grey;
	position: sticky;
	top: 0px;
	border-bottom: 6px solid;
	line-height: 14px;
	z-index: 1;
}

.navbarContent {
	display: flex;
	padding-left: 25px;
	padding-right: 25px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}
li {
	float: left;
	padding: 0px;
	border-right: 2px solid gold;
}
li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 21.5px 24px;
	text-decoration: none;
}
li s {
	display: block;
	color: gold;
	text-align: center;
	padding: 21.5px 24px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

.content {
	padding: 20px;
	min-height: 100%;
	margin: 0 auto -50px;

	text-align: center;
	position: relative;
	margin-top: 50px;
}

@media screen and (min-width: 776px) {
	.panes {
		display: inline-flex;
	}
}

@media screen and (max-width: 775px) {
	.panes {
		display: inline-block;
	}
}

.colLeft {
	padding-right: 50px;
	width: 300px;
}

.colRight {
	width: 300px;
}

.panes {
	float: 0;

	line-height: 20px;

	margin-left: 50px;
	margin-right: 50px;
}

.banner {
	background-color: rgb(56, 54, 51);
	border-bottom: 6px solid;
}
.bannerPic {
	background-image: url("https://www.blog.print-print.co.uk/wp-content/uploads/2017/07/promote-coffee-shop.jpg");
	background-repeat: no-repeat;
	background-position: 90% 45%;
	background-size: 120%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
}
.bannerContent {
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
}
